/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables */

/* Estilos temporales */

main   {background-color: yellow;}
/* .carrusel {background-color: orange;} */
.niveles {background-color: aqua;}
.novedades{background-color: violet;}
footer{background-color: sandybrown;}

body{
  width: 100%;
  margin: auto;
  background-color: #f8fafc;
}

header{
  display: flex;
  flex-direction: column;
}

nav{
  height: 6rem;
  margin: auto;
  padding: 2rem;
  width: 100%;
}

.menu-gral ul, .menu-escuela ul{
  display: flex;
  list-style: none;
}

.menu-gral ul {
  background-color: #f8fafc;
  gap: 1em;
}

.menu-escuela ul {
  width: 100%;
  background-color: #c3aa6f;
  gap: 4em;
}

li a {
  text-decoration: none;
  color: #334155;
  font-family: "Nunito Sans", sans-serif;
}

.menu-gral li a {
  font-size: 0.8em;
} 

.menu-gral li a:hover{
  font-weight: bolder;
}

.menu-escuela a {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight:bold;
  padding: 0.6rem;
  display: flex;
  align-items: center;
}

.menu-escuela li a:hover{
  background-color: #a28644;
}

.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.logo{
  margin: auto;
  width: 65%;
  mix-blend-mode: multiply;
  filter: brightness(1.1);
}

.hero h1{
  text-align: center;
  font-size: 4rem;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
}

.btn-menu{
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 8px;
  column-gap: 0.3rem;
  border: none;
  color: #334155;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.2em;
  font-weight:bold;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}


.flecha{
  font-size: 2rem;
}

.dropdown{
  position: absolute;
  background: #c3aa6f;
  visibility: hidden;
  opacity: 0;
}

.dropdown a{
  display: flex;
  align-items: center;
  column-gap: 4rem;
  margin: 5px;
  font-size: 1em;
  text-transform: uppercase;
}

.dropdown li a:hover{
  background-color: #a28644;
}

.show{
  visibility: visible;
  opacity: 1;
}

/* Section Carrusel */
.carrusel {
  max-width: 100%;
  height: 40vh;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
  height: 100%;
}

.carrusel-link{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

.carrusel-link img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrusel-texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 2rem;
    font-weight: 800;   
}

.back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  padding: 15px;
  color: grey;
  font-weight: bold;
  font-size: 20px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}





